.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	display: grid;
	grid-template-columns: max(200px, 25%);
	grid-template-rows: max(150px, 20%);
	grid-template-areas:
		"sidebar header"
		"sidebar main";
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr;
}

#search {
	display: flex;
	align-items: center;
}

input {
	flex: 1;
}

#right-corner {
	display: flex;
	align-items: center;
	justify-content: end;
}

header #right-corner img {
	height: 50px;
	width: auto;
}

#user-greeting {
	display: flex;
	align-items: center;
	justify-content: start;
}

#user-greeting img {
	height: 100px;
	width: auto;
}

#buttons-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;

	background-color: lightskyblue;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"projects announcements"
		"projects trending";
	gap: 15px;
	background-color: #f5f5f5;
}

#projects {
	grid-area: projects;
}

#project-cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: repeat(3, 150px);
	gap: 20px;
}

.project-card {
	background-color: white;
}

.card-icons {
	display: flex;
}

#announcements {
	grid-area: announcements;
}

.announcements-card {
	background-color: white
}

#trending {
	grid-area: trending;
}

.trending-card {
	background-color: white;
}